header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

header > p {
	text-align: justify;
	max-width: 400px;
}

header > div {
	display: flex;
	justify-content: center;
	gap: 40px;
}

header > h1 {
	border-bottom: 2px dotted var(--secondary-color);
	padding-bottom: 20px;
}

